.b_background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/QixiB-dark.png") no-repeat;
    background-size: 100% 100%;
}

/*背景图如果是没有预加载的话就有一个闪屏的问题，所以特意做了一个b_background_preload的节点让图片先加载，设置一个坐标不可见*/
.b_background_preload{
    background: url("../images/QixiB-bright.png") -9999px -9999px no-repeat;
}

.lamp-bright{
	background: url("../images/QixiB-bright.png")  no-repeat;
    background-size: 100% 100%;
}

.lamp-dark{
    background: url("../images/QixiB-dark.png")  no-repeat;
    background-size: 100% 100%;
}

/*商店*/
.shop {
    width: 39.5%;
    height: 35.5%;
    position: relative;
    left: 29%;
    top: 36.5%;
}

.door {
    position: absolute;
    width: 32%;
    height: 100%;
    top: 32%;
    height: 68%;
    overflow: hidden;
    left: 58.5%;
}

.door-left,
.door-right {
    width: 50%;
    height: 100%;
    position: absolute;
}

.door-left {
    left: 0%;
    background: url(../images/door-left.png) no-repeat;
    background-size: 100% 100%;
}

.door-right {
    left: 50%;
    background: url(../images/door-right.png) no-repeat;
    background-size: 100% 100%;
}

/*鸟*/
.bird{
    min-width: 91px;
    min-height: 71px;
    position: absolute;
    z-index: 10;
    top: 10%;
    right: -91px;
    background: url(../images/bird.png) -182px 0px no-repeat;
}

.bird-Fly {
    -webkit-animation-name: bird-slow;
    -webkit-animation-duration: 400ms;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-iteration-count: infinite;
}

/*鸟慢飞*/
@-webkit-keyframes bird-slow {
    /* 鸟飞的动作 */
    0% {
        background-position: -182px 0px;
    }
    50% {
        background-position: 0px 0px;
    }
    75% {
        background-position: -91px 0px;
    }
    100% {
        background-position: -182px 0px;
    }
    
}

